<%- include("header") -%>

<div class='container pb-5 pt-5'  >
<h3>Edit your Article</h3> <hr>
<form action="/edit" method="post">
    <input type="hidden" value='<%= post._id %>'' name='pid'>
    <div class=" mb-3">
        <input type="text" placeholder="Article Title" class="form-control" name='title' 
        value="<%=post.title %>">
    </div>

    <div class=" mb-3">
        <input type="url" placeholder="Place image url" class="form-control" name='image'
        value="<%=post.imageurl %>">
    </div>

    <div class=" mb-3">
        <textarea placeholder="Type content here..." class="form-control" name='content' rows='7' value="<%=post.content %>"></textarea> </textarea>
    </div>
    <div class='row'>
        <div class='col-2'>
        <button class='btn btn-success' type='submit'> Save Article </button>
        </div> 
         
        </div>
        

</form>
<% if (result!='') { %>
<div class='alert-success'> <h2><%= result %></h2></div>
  <% } %>
  
</div>

<%- include("footer") -%>